
.news1 {
  width: 96%;
  margin: 0 auto;
  transition: 0.5s;
  cursor: pointer;
  margin-top: 20px;
}

.news1:hover {
  box-shadow: 3px 3px 10px rgba(48,56,65,0.1);
  width: 100%;
}

.news1:hover .text {
  padding: 10px;
}

.news1 .pic {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.news1 .text {
  padding: 10px 0;
  transition: 0.5s;
}

.news1 .text .date span {
  font-size: 18px;
}

.news1 .text .description {
  margin-top: 10px;
}
